<nav class="navbar navbar-default" role="navigation">
  <ul>
    <li>{{#link-to "posts"}} Posts {{/link-to}}</li>
    <li>{{#link-to "about"}} About {{/link-to}}</li>
    <li>{{#link-to "contact"}} Contact {{/link-to}}</li>
  </ul>
</nav>
<h1>Contact</h1>
<p>
  Call me: 08213-fake-number
</p>