<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <ul>
      <li>{{#link-to "posts"}} Posts {{/link-to}}</li>
      <li>{{#link-to "about"}} About {{/link-to}}</li>
      <li>{{#link-to "contact"}} Contact {{/link-to}}</li>
    </ul>
  </nav>
  <h1>Tsara's Blog</h1>
  <ul>
    <li><a href="#">My posts</a></li>
    <li><a href="#">My posts</a></li>
  </ul>
</div> 